@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;400;700;900&family=Special+Elite&display=swap');


@import "statics";
@import "header";
@import "navcontent";
@import "home";
@import "work";
@import "skills";
@import "skillsItems";
@import "services";
@import "testimonial";
@import "testimonialCards";
@import "contact";
@import "footer";
@import "mediaquery";
@import "headerphone";


* {
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   font-family: $text1;
   scroll-behavior: smooth;
}

body {
   background-color: $bg;
}

h1,
h2,
h3,
h4 {
   color: $heading;
}

h1 {
   font-family: $text1;
   color: $heading;
   font-size: 4rem;
   font-weight: 600;
}

h3 {
   font-size: 1.8rem;
   font-weight: 400;
   /* margin-bottom: 1rem; */
}

p {
   color: $para;
   line-height: 1.6;
   font-size: 1.7rem;
}

a {
   text-decoration: none;
}

li {
   list-style: none;
}

p {
   color: $white;
}